<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Grain structure</title>
    <meta name="description" content="Grain structure recognition" />
    <meta
      name="keywords"
      content="Machine LEarning, Grain Structure, Semantic Segmentation, NMR"
    />
    <meta name="author" content="Iaroslav Plutenko" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="icon"
      href="https://www.ipk-gatersleben.de/fileadmin/template/main/images-ipk/ipklogo.png"
    />
    <link rel="stylesheet" href="/static/styles/download.css" />
  </head>
  <body>
    <h1 class="title">You can download results!</h1>
    <img
      src="https://www.ipk-gatersleben.de/fileadmin/template/main/images-ipk/ipklogo.png"
      alt="IPK Logo"
    />
    <a class="home" href="/" target="_self">Home Page</a>
    <a class="model" href="/upload_model" target="_self">Model Upload</a>
    <a href="/return-files/{{value}}" target="_self"
      ><button class="fa fa-download btn">Download</button></a
    >
  </body>
</html>
