<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Grain structure</title>
    <meta name="description" content="Grain structure recognition" />
    <meta
      name="keywords"
      content="Machine LEarning, Grain Structure, Semantic Segmentation, NMR"
    />
    <meta name="author" content="Iaroslav Plutenko" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="icon"
      href="https://www.ipk-gatersleben.de/fileadmin/template/main/images-ipk/ipklogo.png"
    />
    <link rel="stylesheet" href="/static/styles/info.css" />
  </head>
  <body>
    <div>
      <h1 class="title">
        Information
      </h1>
    </div>
    <a class="home" href="/" target="_self">Home Page</a>
    <div class="message">
      <i>
        Not a valid archive. Please upload valid zip archive with images.
      </i>
    </div>
    <img
      src="https://www.ipk-gatersleben.de/fileadmin/template/main/images-ipk/ipklogo.png"
      alt="IPK Logo"
    />
  </body>
</html>
